<div class="row pt-5 mt-5">
  <div class="col-8 offset-2 text-center">
    <%= render partial: 'shared/connect_4_logo' %>
  </div>
</div>

<div class="row pt-1">
  <div class="col-8 offset-2 text-center">
    <%= render partial: 'player/form' %>
  </div>
</div>