<div class="row pt-5 mt-5">
  <div class="col-8 offset-2 text-center">
    <%= render partial: 'shared/connect_4_logo' %>
  </div>
</div>

<div class="row">
  <div class="col-8 offset-2 text-center">
    Waiting for player to 2 to join the game
    <br><%= image_tag 'loading_spinner.gif', width: '50px', class: 'pt-4' %>
  </div>
</div>

<%= content_for(:javascript) do %>
    <script>
        var pusher = new Pusher('8fc2bf8750edcb87bd34', {cluster: 'us2', forceTLS: true});
        var channel = pusher.subscribe('show-game-grid');
        channel.bind('refresh-page', function (data) {
            if (data['message']['refresh'] === true) {
                window.location.reload();
            }
        });
    </script>
<% end %>